@import 'var';

$global-header-height: 48px;
$global-footer-height: 66px;
$main-content-margin: 20px;
$global-header-background: rgba(var(--primary), 0.8);

.basic-layout-root {
  display: grid;
  grid-template:
    'head head head'
    '. main .'
    'footer footer footer';
  grid-template-columns: 1fr $main-content-width 1fr;
  grid-template-rows: $global-header-height 1fr $global-footer-height;
}

.header {
  grid-area: head;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $global-header-background;
}

.main {
  grid-area: main;
  position: relative;
  min-height: calc(
    100vh - #{$global-footer-height + $global-header-height + 2 * $main-content-margin}
  );
  margin: $main-content-margin 0;
}

.footer {
  grid-area: footer;
  display: flex;
  align-items: center;
  justify-content: center;
}
