@import 'var';

$global-header-height: 48px;
$global-footer-height: 140px;
$main-content-margin: 20px;
$main-content-height-offset: $global-footer-height + $global-header-height + 2 *
  $main-content-margin;

.basic-layout-root {
  display: grid;
  grid-template:
    'head    head      head' auto
    '.       main         .' auto
    'footer  footer  footer' #{$global-footer-height} /
    1fr $main-content-width 1fr;
}

.header {
  grid-area: head;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-image {
  min-width: $main-content-width;
  width: 100%;
  height: 192px;
  margin-top: -$global-header-height;
  background-size: auto 192px;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 1;
}

.main {
  grid-area: main;
  position: relative;
  min-height: calc(100vh - #{$main-content-height-offset});
  margin: $main-content-margin 0;
}

.footer {
  padding-top: 16px;
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
