@import 'mixin';
@import 'var';

.root {
  margin-top: 30px;
  background-color: white;
  border: solid 1px $border-color;
  display: flex;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome {
  margin-top: 50px;
  margin-bottom: 30px;
}

.snow {
  margin: 30px;
}

.form {
  display: grid;
  grid-template-columns: 1fr 320px;
  grid-template-rows: 40px 40px 40px 40px;
  grid-gap: 30px 25px;

  .label {
    grid-column: 1;
    font-size: $font-size-sm;
    justify-self: right;
    align-self: center;
  }

  .content {
    height: 40px;
    grid-column: 2;
    border-radius: 5px;
    padding: 0 10px;
  }

  .form-info {
    height: initial;
    text-align: center;
    color: red;
  }
}
