{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true
  },
  "plugins": ["@typescript-eslint", "eslint-plugin-react-hooks", "eslint-plugin-react"],
  "extends": ["airbnb", "prettier", "prettier/@typescript-eslint", "prettier/react"],
  "rules": {
    "no-unused-vars": "off",
    "no-param-reassign": "off",
    "no-case-declarations": "off",
    "no-useless-return": "off",
    "import/prefer-default-export": "off",
    "react/jsx-filename-extension": "off",
    "import/no-unresolved": "off",
    "no-use-before-define": ["error", { "functions": false }],
    "react/prop-types": "off",
    "import/export": "off",
    "consistent-return": "off",
    "jsx-a11y/alt-text": "off",
    "jsx-a11y/label-has-associated-control": "off",
    "react/jsx-props-no-spreading": "off",
    "jsx-a11y/click-events-have-key-events": "off",
    "jsx-a11y/no-static-element-interactions": "off",
    "jsx-a11y/no-noninteractive-element-interactions": "off",
    "react/state-in-constructor": "off"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"],
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true
  }
}
