{
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "selector-pseudo-class-no-unknown": null,
    "rule-empty-line-before": ["always", {
      "ignore": ["after-comment", "first-nested"]
    }],
    "at-rule-no-unknown": null,
    "no-descending-specificity": null
  }
}
