@import 'var';

.base {
  display: inline-block;
  height: 36px;
  line-height: 1.5;
  text-align: center;
  padding: 0 15px;
  border: 1px solid $border-color;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.015);
  border-radius: 4px;
  font-weight: 400;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  &[disabled] {
    cursor: not-allowed;
  }
}

.primary {
  background-color: $primary;
  color: var(--text-color-primary);
  border-color: transparent;
}
