@import 'var';

.root {
  width: 100%;
  font-size: 16px;
}

.editor-wrapper {
  background-color: $main-background-color;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 16px 0;
}
