@import 'var';

.root {
  display: flex;
  color: $primary;
  align-items: center;
  justify-content: space-between;
  padding: 0 32px 0 12px;
  font-size: 12px;
}

.action-root {
  display: inline-flex;
  align-items: center;
}

.action {
  cursor: pointer;
  margin: 4px;
  border: 1px solid $primary;
  padding: 4px 4px;
  border-radius: 1em;
}

.like {
  display: inline-flex;
  align-items: center;
  margin-right: 12px;
}

.icon {
  font-size: 16px;
  margin-right: 6px;
}
