.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content {
  width: 100%;
  min-height: 600px;
  margin-bottom: 12px;
}

.empty {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
