@import 'var';

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content {
  width: 100%;
  margin-bottom: 12px;
}

.white {
  background-color: $main-background-color;
}

.empty {
  width: 100%;
  text-align: center;
  font-size: 14px;
}
