.container {
  display: flex;
  align-items: center;

  img {
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  margin-left: 64px;

  button + button {
    margin-top: 12px;
  }
}

.default-avatar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  img {
    margin: 16px;
    width: 160px;
    height: 160px;
    border-radius: 50%;
    cursor: pointer;
  }
}
