@import 'var';

.button {
  width: 80px;
  padding: 0;
  text-align: center;
  height: 32px;
  font-size: 16px;
}

.tag {
  font-size: 16px;
  margin-right: 32px;
  border-radius: 4px;
  overflow: hidden;

  .label {
    background-color: gray;
    color: white;
    display: inline-block;
    width: 80px;
    height: 32px;
    line-height: 32px;
    text-align: center;
  }

  .info {
    @extend .label;

    background-color: $primary;
    color: $text-color-primary;
  }
}
