// color
$primary: #{'rgb(var(--primary))'};
$second: var(--second);
$border-color: #ccc;
$text-color-primary: var(--text-color-primary);
$main-background-color: var(--main-background-color);

// length
$main-content-width: 1140px;

// font
$base-font-size: 16px;
$font-size-sm: $base-font-size - 4px;
$font-size-lg: $base-font-size + 4px;
