@import 'var';

$active-tab-background: #ccc;
$info-color: gray;
$link-color: blue;

.root {
  border: 1px solid $border-color;
}

.title {
  display: flex;
  height: 32px;
  border-bottom: 1px solid $border-color;

  button {
    flex-grow: 1;
    background: transparent;
    border: none;
    transition-duration: 0.5s;
  }

  .title-active {
    flex-grow: 2;
    background-color: $active-tab-background;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  max-height: 256px;
  overflow-y: auto;
  width: 570px;

  button {
    background: transparent;
    border: none;
  }

  img {
    margin: 8px;
    cursor: pointer;
  }
}

.info {
  font-size: 12px;
  color: $info-color;
  text-align: center;
  margin: 12px 0;

  a {
    margin: 0 4px;
    color: $link-color;
    text-decoration: underline;
  }
}

.ac img {
  width: 75px;
  height: 65px;
}

.mj img {
  width: 32px;
  height: 32px;
}

.ms img {
  width: 75px;
  height: 75px;
}
