@import 'var';

$content-top-background: #d4e5f5;
$content-top-color: #666;
$content-width: $main-content-width - 4px;
$award-border-color: #eaeaea;

.root {
  margin: 16px 0;
  display: flex;
  border: 2px solid $primary;
  width: $content-width;
  min-width: $content-width;
  max-width: $content-width;
  position: relative;
}

.floor {
  position: absolute;
  right: -20px;
  top: 50%;
  background-color: $primary;
  color: $text-color-primary;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user {
  background-color: $primary;
  color: $text-color-primary;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 160px;
  padding-bottom: 12px;

  p + p {
    margin-top: 12px;
  }
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 16px;
}

.user-name {
  font-size: 18px;

  span + span {
    margin-left: 12px;
  }
}

.user-action {
  display: inline-flex;
  padding: 2px 6px;
  margin: 0 8px;
  font-size: 14px;
  border-radius: 1em;
  border: 1px solid $text-color-primary;
}

.content-root {
  flex: 1;
  background-color: $main-background-color;
  display: flex;
  flex-direction: column;
  padding-bottom: 8px;
}

.content-top {
  background-color: $content-top-background;
  color: $content-top-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 36px;
  padding: 0 6px;
  font-size: 14px;
}

.content-top-info {
  margin: 2px;
}

.content {
  padding: 16px 24px 16px 16px;
  flex: 1;
  line-height: 1.5;
}

.qmd {
  border-top: 1px solid $primary;
  margin: 0 32px 0 16px;
  padding: 16px;
}

.hot {
  background-color: red;
}

.award {
  margin: 32px 32px 0;
  font-size: 13px;
  width: 560px;

  p {
    line-height: 2;
  }

  p + p {
    border-top: $award-border-color dashed 2px;
  }

  .award-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 10px 0 20px;
  }

  .award-user-title {
    margin-left: 50px;
  }

  .award-user-title,
  .award-user {
    width: 80px;
    display: inline-flex;
  }

  .award-content-title,
  .award-content {
    margin-left: 20px;
    display: inline-flex;
    width: 128px;
  }

  .award-reason-title,
  .award-reason {
    margin-left: 40px;
  }
}
